{
  "Version": 2,
  "Mixers": {
    "Guid": "7fdcdd0d-9163-41df-954a-886cee91bb7c",
    "Name": "Master",
    "Volume": 1,
    "Mute": false,
    "Solo": false,
    "Processors": [],
    "Children": [
      {
        "Guid": "9817b557-f323-47df-8102-2d44ef642193",
        "Name": "Music",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "b865f7e3-a53b-48f6-86f2-418286c7e92b",
        "Name": "Game",
        "Volume": 7,
        "Mute": false,
        "Solo": false,
        "IsDefault": true,
        "Processors": [
          {
            "Effect": "metallic.small",
            "Enabled": true,
            "Mix": 1,
            "__type": "DspProcessor"
          }
        ],
        "Children": []
      },
      {
        "Guid": "9f7ef5a4-e0af-4c95-ac82-5658c71ccc95",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Processors": [],
        "Children": []
      }
    ]
  },
  "__guid": "76d1439a-c874-443b-8340-c87b5eb3bc69",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}